*::after,
*::before {
      margin: 0;
      padding: 0;
    }

    /*Inicia Estilos Heater */
    #redes {
      justify-content: right;
      background-color:lightgray;
    }

    #navbarSupportedContent {
      margin-left: 100px;
    }

    #navbarSupportedContent ul li a {
      color: black;
      font-size: 25px;
      margin-left: 40px;
    }

    .container-fluid {
      margin-bottom: -1rem;
    }

    .logo {
        width: 4rem;
        height: auto;
    }   

    .btn {
      color: black;
      border-color: black;
      margin-right: 10px;
     }

/*Finaliza Estilos Heater */

/*Inicia Estilos Carrusel */
.d-block {
  width: 100%;
  height: 600px;
}
/*Finaliza Estilos Carrusel */
    
/*Inicia Estilos Main */
/*Inicia Nuevos productos*/
h5 {
  margin-top: 5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-weight: 700;
}

.col-md-6 h3 {
text-align: center;
}
.col-md-6 p {
text-align: center;
}
/*Finaliza Nuevos productos*/

.descansador img {
  height: 12rem;
  width: 100%;
  margin-top: 2rem;
}

/*Inicia Footer*/
/*
.col-lg-7 {
  
  width: 100%;
  height: 15rem;
  margin-top: 1rem;
  text-align:center;
}*/

/*
.col-lg-7 img {
  margin-right: 10rem;
  margin-left: 15rem;
}*/


/*
.footer img {
  width: 90px;
  padding-top: 1rem;
  margin-left: 20rem;
  margin-right: 15rem;
}*/


.col-lg-7 a {
  width: 90px;
  padding-top: 1rem;
  margin-left: 5rem;
}

.color {
  color: white;
  font-size:large;
  font-weight: 600;
  margin-left: 1rem;
  margin-right: 1.3rem;
  
  text-decoration: none;
}


.color1 {
  font-weight:bolder;
  font-size: 10px;

}

.footer hr {
  color: white;
  font-weight: bolder;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}

.contacto {
margin-left: 2.5rem;
color: white;
font-weight: bolder;
font-size: 15px;
text-decoration: none;

}
/*Finaliza Footer*/
