*::after,
*::before {
      margin: 0;
      padding: 0;
    }

    /*Inicia Estilos Heater */
    #redes {
      justify-content: right;
      background-color:lightgray;
    }

    #navbarSupportedContent {
      margin-left: 100px;
    }

    #navbarSupportedContent ul li a {
      color: black;
      font-size: 25px;
      margin-left: 40px;
    }

    .container-fluid {
      margin-bottom: -1rem;
    }

    .logo {
        width: 4rem;
        height: auto;
    }   

    .btn {
      color: black;
      border-color: black;
      margin-right: 10px;
     }

/*Finaliza Estilos Heater */

/*Inicia Estilos Carrusel */
.d-block {
  width: 100%;
  height: 600px;
}
/*Finaliza Estilos Carrusel */
    
/*Inicia Estilos Main */
/*Inicia Nuevos productos*/
h5 {
  margin-top: 5rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  font-weight: 700;
}

.col-md-6 h3 {
text-align: center;
}
.col-md-6 p {
text-align: center;
margin-bottom: 5rem;
}
/*Finaliza Nuevos productos*/

.descansador img {
  height: 12rem;
  width: 100%;
  margin-top: 2rem;
}

.espacio {
  margin-bottom: 4rem;
}

/*Inicia Footer*/

.col-md-6 a {
margin-top: 4rem;
color:rgb(168, 93, 174);
font-weight: bold;
text-decoration:underline;
font-size: larger;
}

.footer hr {
  color: white;
  font-weight: bolder;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}

.contacto {
margin-left: 4rem;
color: white;
font-weight: bolder;
font-size: 25px;
text-decoration: none;

}
/*Finaliza Footer*/
