*::after,
*::before {
      margin: 0;
      padding: 0;
    }

.contenedorredes {
    background-color: blue;
    padding: 1rem;
}

.contenedorredes,redes, img{
    height: 30px;
    height: 30px;
    align-items: flex-end;
}
